.leavereqbox{
    background-color: white;
    width: 95%;
    margin-top: 4%;
    height: 500px;
    border-radius: 15px;
}

.contentleave{
    height: 100%;
    width: 100%;
    background-color: rgb(239, 237, 237);
    margin-top: -21px;
    overflow-y: auto;
    text-align: left;
  }
  .contentleave .path{
    margin-left: 40px;
    margin-top: 50px;
    font-size: 12px;
  }

  .panelleave{
    display: flex;
    margin-top: -48px;
    justify-content: center;
    align-items: center;
  }

.headleavebox{
    display: flex;
    flex-direction: row;
  }

  .headleavebox-left{
    flex: 5;
    padding-left: 25px;
    font-size: 15px;
  }

  .headleavebox-right{
    flex: 5;
    display: flex;
    justify-content: right;
    padding-right: 25px;
    font-size: 15px;
  }
  
  .headleavebox-right select{
    width: 100px;
    height: 28px;
    margin-left: 5px;
  }
